@import "colors";

.spaced-card {
  margin: 3% 2% 0 !important;
}

.transparent-background {
  background-color: transparent !important;
}

.product-title:hover {
  color: @link-hover-color;
}

.card:hover .image {
  opacity: 65%;
}