@import "colors";

.primary-background {
  background-color: @primary;
}

.secondary-button {
  background-color: @secondary !important;
  border: 1px solid @button-border-color !important;
}

.nav-button {
  color: @white !important;
  background-color: transparent !important;
  font-size: medium !important;
}
